Level = "${LEVEL}"
LogLocation = "${LOG_LOCATION}"
DbDriverName = "${DB_DRIVER_NAME}"
Dsn = '${DSN}'

KafkaBrokers = ["${KAFKA_BROKERS}"]
KafkaTopic = "${KAFKA_TOPIC}"
KafkaGroupID = "${KAFKA_GROUP_ID}"
